<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password - Airlines Crew Communication System</title>
    <link rel="stylesheet" href="../static/styles/resetUserpassword.css">
</head>
<body>
    <div class="container">
        {% include 'Profile.html' %}
        <main>
          <main>
                <h2>Search User</h2>
                {% include 'Message.Html' %}
                <form action="{{ url_for('resetUserpassword') }}" method="post">
                    <table>
                        <tr class="table-dark">
                            <td>
                                <div class="form-group">
                                    <label for="UserName">User Name</label>
                                    <input type="text" id="UserName" name="UserName" required placeholder="User Name">
                                </div>
                            </td>
                        </tr>
                        <tr class="table-dark">
                            <td>
                                <div class="form-group">
                                    <label for="new_password">New Password</label>
                                    <input type="password" id="new_password" name="new_password" required placeholder="New Password">
                                </div>
                            </td>
                        </tr>
                        <tr class="table-dark">
                            <td>
                                <button type="submit" class="btn btn-primary">Reset Password</button>
                            </td>
                        </tr>
                    </table>
                </form>
                {% for row in users %}
                <h2>Profile</h2>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Privilege</th>
                        <th>Account Status</th>
                    </tr>
                    <tr>
                        <td>{{ row.name }}</td>
                        <td>{{ row.username }}</td>
                        <td>{{ row.email }}</td>
                        <td>{{ row.UPrivilege }}</td>
                        <td>{{ row.AccStatus }}</td>
                    </tr>
                {% endfor %}
                </table>
            </main>
        </main>
    </div>
</body>
</html>
