<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password - Airlines Crew Communication System</title>
    <link rel="stylesheet" href="../static/styles/resetpassword.css">
</head>
<body>
    <div class="container">
        {% include 'Profile.html' %}
        <main>
            <h2>Search User</h2>
            {% include 'Message.Html' %}
            <form action="{{ url_for('resetpassword') }}" method="post">
                <table>
                    <tr class="table-dark">
                        <td>
                            <div class="form-group">
                                <label for="old_password">Old Password</label>
                                <input type="password" id="old_password" name="old_password" required placeholder="Old Password">
                            </div>
                        </td>
                    </tr>
                    <tr class="table-dark">
                        <td>
                            <div class="form-group">
                                <label for="new_password">New Password</label>
                                <input type="password" id="new_password" name="new_password" placeholder="New Password" required>
                            </div>
                        </td>
                    </tr>
                    <tr class="table-dark">
                        <td>
                            <button type="submit" class="btn btn-primary">Reset Password</button>
                        </td>
                    </tr>
                </table>
            </form>
        </main>
    </div>
</body>
</html>
