<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User - Airlines Crew Communication System</title>
    <link rel="stylesheet" href="../static/styles/resetUserpassword.css">
</head>
<body>
    <div class="container">
{% include 'Profile.html' %}
        <main>
            {% include 'Message.Html' %}
            <h2>Update User</h2>
            <div class="container">
        
        
                <table id="customers">
                    <thead>
                        <tr class="table-dark">
                            <th>Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Privilege</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                     
                            <form method="POST" action="{{ url_for('update_user', userid=user['userid']) }}">
        
                                <td><input type="text" name="name" value="{{ user['name'] }}"></td>
                                <td><input type="text" name="username" value="{{ user['username'] }}"></td>
                                <td><input type="text" name="email" value="{{ user['email'] }}"></td>
                                <td>
                                    <select name="privilege">
                                        <option value="Admin" {% if user['UPrivilege']=='Admin' %}selected{% endif %}>
                                            Admin
                                        </option>
                                        <option value="BackOffice" {% if user['UPrivilege']=='BackOffice' %}selected{% endif %}>
                                            BackOffice
                                        </option>
                                  
                                    </select>
                                </td>
                                <td>
                                    <select name="AccStatus">
                                        <option value="Active" {% if user['AccStatus']=='Active' %}selected{% endif %}>
                                            Active
                                        </option>
                                        <option value="Locked" {% if user['AccStatus']=='Locked' %}selected{% endif %}>
                                            Locked
                                        </option>
        
                                    </select>
                                </td>
                                <td><button type="submit">Update</button></td>
                            </form>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        
        </main>
        </div>
    </div>
</body>
</html>
